# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environments
.venv/
venv/
.env
.env.*

# IDE
.DS_Store
.idea/
.vscode/

# Database
*.sqlite3

# Celery
celerybeat-schedule
celerybeat-schedule.*

# ML artifacts (large binary files)
models_store/*.joblib
mlruns/

# Notebooks checkpoints
notebooks/.ipynb_checkpoints/
